body {
	text-align: center;
}

html {
	margin: 0px;
	background-color: lightblue;
}

#github-login-container {
	width: 70%;
	margin: auto;
	perspective: 800px;
	position: relative;

	.flippable {
		position: absolute;
		height: 100%;
		width: 100%;
		transform-origin: right center;
		transform-style: preserve-3d;
		transition: transform 1s;

		figure {
			backface-visibility: hidden;
			display: block;
			position: absolute;
			margin: 0px;
			border: 3px solid blue;
			border-radius: 25px;
		}

		.back {
			text-align: center;
			color: green;
			transform: rotateY(180deg);
		}

		&.flipped {
			transform: translateX(-100%) rotateY(-180deg);
		}
	}
}

.inline {
	background-color: transparent;
	outline: 0px;
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
	padding-left: 10px;
	padding-right: 20px;

	&:focus {
		outline: 0px;
	}
}

#login-err {
	color: red;
	font-weight: bold;
}

#login-successful {
	color: green;
	font-weight: bold;
	font-size: 1.6em;
}

#github-login {
	// Put github login styles here
}