body {
	text-align: center;
	padding: 10px 50px;
}

html {
	margin: 0px;
	background-color: lightblue;
}

input {
	padding-left: 5px;
}

#login-dropdown, #logout-dropdown {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 30%;
	z-index: 9;
	background-color: green;
	border-bottom: 3px solid blue;
	border-left: 3px solid blue;
	border-bottom-left-radius: 25px;
	text-align: left;
	padding: 20px;
	padding-bottom: 10px;
	opacity: 0;

	input {
		margin-bottom: 10px;
	}
}

#logout-dropdown {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

.inline {
	background-color: transparent;
	outline: 0px;
	border: none;
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-right: 20px;

	&:focus {
		outline: 0px;
	}
}

#login-err {
	color: red;
	font-weight: bold;
}

#login-successful {
	color: green;
	font-weight: bold;
	font-size: 1.6em;
}

#github-login {
	// Put github login styles here
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	li {
		float: left;

		a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			transition: background-color 1s;

			&:hover {
				background-color: #111;
			}
		}
	}

	ul {
		list-style-type: none;
	}

	> li a.active {
		background-color: #4CAF50;
	}

	#login-err {
		display: block;
		text-align: center;
		padding: 14px 16px;
	}
}

#navbar-top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;

	ul li a:active {
		background-color: #9932CD;
	}
}

#repo-name-form {
	text-align: center;
}

.text-center {
	text-align: center;
}

#screen-dim {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: black;
	opacity: 0;
}

#error-popup {
	opacity: 0;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	width: 40%;
	background-color: tan;
	font-size: 2.4em;
	padding: 3%;
	border-radius: 16%;

	button {
		font-size: 1em;
	}
}

#error-popup-text {
	font-weight: bold;
	color: red;
	margin-bottom: 4%;
}

#write-event-status {
	color: green;
	font-weight: bold;
}